[submodule "src/third_party/args_cpp"]
	path = src/third_party/args_cpp
	url = https://github.com/redthing1/args_cpp
[submodule "src/third_party/redlog_cpp"]
	path = src/third_party/redlog_cpp
	url = https://github.com/redthing1/redlog_cpp
[submodule "src/third_party/catch2"]
	path = src/third_party/catch2
	url = https://github.com/catchorg/Catch2
